#animal-photos{
	display:flex;
	flex-direction:column;
	align-items:center;
	align-content:center;
	justify-content:center;
	background-color:grey;
	border-radius:10px
}
h1{
	color:white;
}


.images{
	display:flex;
	flex-wrap:wrap;
	align-content:center;
	justify-content:center;
	align-items:center;
}
img{
	width:150px;
	/* height:150px; */
	padding:5px;
	border-radius:20px
}